{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Form</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script>
        // Function to save the selected choice to localStorage

        document.addEventListener("DOMContentLoaded", function () {
            // Show the error message if it exists
            const errorDiv = document.getElementById("error");
            if (errorDiv && errorDiv.innerText.trim() !== "") {
                errorDiv.style.display = "block"; // Display the error message
                setTimeout(function () {
                    errorDiv.style.display = "none"; // Hide the error message after 2 seconds
                }, 2000); // 2000 milliseconds (2 seconds)
            }
        });
    </script>
</head>
<body class="detail">
    <form action="{% url 'polls:vote' question.id %}" method="post" class="detail">
        {% csrf_token %}
        <fieldset class="detail">
            <legend><h1 class="detail">{{ question.question_text }}</h1></legend>
            {% for choice in question.choice_set.all %}
                <div class="choice">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" {% if user_vote and choice.id == user_vote.id %}checked="true"{% endif %}>
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                </div>
            {% endfor %}
        </fieldset>
        <div class="button-group">
        <input type="submit" value="Vote" class="button-vote">
        <a href="{% url 'polls:index' %}"><button type="button" class="button-vote">Back</button></a>
            <a href="{% url 'polls:results' question.id %}"><button type="button" class="button-vote">Results</button></a>
        </div>
        {% if user.is_authenticated %}
        <p class="welcome">Welcome back, {{ user.username.title }}</p><br/>
        <a class="login" href="{% url 'logout' %}">Log out</a><br/>
        {% else %}
        <a class="login" href="{% url 'login' %}"> Log in</a><br/>
        {% endif %}
        <div class="error-vote" id="error">
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <p style="color: #952323">{{ message }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </form>
</body>
</html>
