@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Barlow+Condensed&family=Caveat&family=Mulish&family=Nunito&family=Pacifico&family=Tilt+Prism&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

li a {
    color: #FFC436;
    font-size: 17px;
}

body {
    background: url("images/background4.jpg") no-repeat;
    background-size: cover;
    font-size: 20px;
}

.polls{
    background: url("images/background2.jpeg") no-repeat;
    background-size: cover;
    color: #337CCF;
}

.result {
    background: url("images/background.jpg") no-repeat;
    background-size: cover;
    color: #1450A3;
    font-size: 20px;
}

.ku-poll{
    font-size: 50px;
    color: #FFC436;
}