/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Barlow+Condensed&family=Caveat&family=Montserrat&family=Mulish&family=Nunito&family=Pacifico&family=Tilt+Prism&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #1450A3;
    transition: color 0.3s ease;
}

a:hover {
    color: #C4DFDF;
}

p {
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    color: #1450A3;
    transition: color 0.3s ease;
}

/* ====================================================== */

/* detail */

.choice{
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
form.detail {
    width: 900px;
    max-width: 100%; /* Ensure it doesn't exceed 900px when the viewport is narrower */
    margin: 0 auto;
    padding: 20px;
    color: #FFC436;
}

body.detail {
    background: url("images/bg.jpeg") no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1.detail {
    text-align: center;
    margin-top: 15px;
}

legend {
    font-size: 1.2em;
    margin-bottom: -40px;
}

form.detail {
    width: 900px; /* Added width property */
    max-width: 100%; /* Ensure it doesn't exceed 900px when the viewport is narrower */
    margin: 0 auto;
    padding: 20px;
    color: #FFC436;
}

fieldset.detail {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

div.error-vote {
    text-align: center;
    color: #952323;
    animation: shake 2s ease-in-out infinite;
}

input[type="radio"] {
    margin-right: 5px;
}

.button-vote {
    margin-top: 10px;
    margin-bottom: 10px; /* Add this line */
    background-color: #337CCF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.button-vote:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


/* ====================================================== */
/* index */
.welcome {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #1450A3;
    border: 2px solid #176B87;
    border-radius: 5px;
    background: #EEEEEE;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 5px;
}

.login {
    margin-top: 20px; /* Adjust this value to increase the space between the button and the border */
    background-color: #337CCF;
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;
    margin-bottom: 15px;
}

.login:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

img.check{
    width: 20px; /* default 15 */
    height: 20px; /* default 15 */
    margin-top: 2px;
}

a.no-hover:hover {
    color: #1450A3;
}

.button-views{
    background-color: #337CCF;
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;

}

.button-results{
    background-color: #337CCF;
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;
    margin-left: 5px;
}
body.index {
    background: url("images/bg5.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.question-item:hover{
    transform: translateY(-3px);
}

div.index2{
    margin-top: 15px;
}

div .error {
    border: 2px solid #176B87;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    background: #EEEEEE;
    animation: shake 2s ease-in-out infinite; /* Add animation */
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
}

fieldset.index{
    border: 2px solid #176B87;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

h1.index {
    text-align: center;
    margin-top: 50px;
    color: #176B87;
}

form.index{
    max-width: 900px; /* Set a default minimum width */
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.questions-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: stretch; /* This will make items in the same row have equal height */
}

.question-item {
    border: 2px solid #176B87;
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
    background: #EEEEEE;
    flex: 1;
    min-width: 250px;
    position: relative;
    padding-bottom: 40px;
    min-height: 160px; /* Set the minimum height to 80px */
}


.actions {
    display: flex;
    justify-content: flex-start; /* Align buttons to the left */
    position: absolute; /* Absolute positioning */
    bottom: 10px; /* Position 10px from the bottom */
    left: 10px; /* Position 10px from the left */
}


.ku{
    width: 200px;
    height: 100px;
}

.vote-status{
    text-align: center;
    font-size: 1em;
    margin-bottom: 15px;
    color: #1450A3;
}

/* ====================================================== */

/* results */
body.results {
    background: url("images/bg8.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1.results {
    text-align: center;
    margin-top: 0;
    color: #F7E987;
}

form.results{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    color: #016A70;
}

fieldset.results{
    border: 2px solid #176B87;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 10px;
}


div.results{
    border: 2px solid #176B87;
    border-radius: 5px;
    margin-top: 5px;
    background: #FFFFDD;
}

#totalVotes {
    display: inline-block; /* Make it inline-block to fit with the text */
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    padding: 5px 10px; /* Add padding to create space around the text */
    border: 2px solid #176B87;
    border-radius: 5px;
    background: #EEEEEE;
    color: #016A70;
    align-items: center;
}

#buttonContainer {
    margin-top: 20px;
}

.button-home{
    background-color: #337CCF;
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;
}


.messages {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #d4d4d4;
    background-color: #e8f6e8;
    color: #2a7f2a;
    border-radius: 5px;
    text-align: center;
}
